<form action="/updatecontent" method="post">
    <input type="hidden" name="task_id" value="<%= task_id%>">
    <input class="field" type="text area" name="content" placeholder="Tweet"><br>
    <input class="btw" type="submit" value="Tweet"> 
</form>